# frozen_string_literal: true

<% module_namespacing do -%>
class <%= entity_class_name %> < ::Shamu::Entities::Entity
  model :record
  
  attribute :id, on: :record
<% attributes.each do |attribute| -%>
  attribute :<%= attribute.name %>, on: :record
<% end %>
end
<% end %>
