# frozen_string_literal: true

require "test_helper"

<% module_namespacing do -%>
class <%= list_scope_class_name %>Test < ActiveSupport::TestCase
  test "the truth" do
    assert nil
  end
end
<% end %>
