# frozen_string_literal: true

<% module_namespacing do -%>
class <%= list_scope_class_name %> < ::Shamu::Entities::ListScope
  <% attributes.each do |attribute| -%>
    attribute :<%= attribute.name %>
  <% end %>
end
<% end %>
