# frozen_string_literal: true

<% module_namespacing do -%>
module <%= class_name %>Request 
  class Change < ::Shamu::Services::Request
  end

  class Create < Change
  end

  class Update < Change
  end
end
<% end %>
